.searchBar {
  display: flex;
}

.searchBar input {
  width: 30rem;
  height: 8vh;
}

.searchBar button {
  background: #f6050e;
  color: white;
  height: 8vh;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.searchBar button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .searchBar {
    flex-direction: column;
  }
  .searchBar button {
    margin: 0 auto;
    margin-top: 20px;
    width: 8rem;
    height: 8vh;
  }
  .searchBar input {
    width: 20rem;
    height: 8vh;
  }
}
