.HomePageText {
  color: white;
  margin-top: 130px;
  text-align: center;
  padding: 20px;
}

.HomePageText h1 {
  color: white;
  font-size: 50px;
}
.HomePageText h3 {
  color: white;
  font-size: 30px;
}

.HomePageText p {
  color: white;
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  .HomePageText {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .HomePageText h1 {
    font-size: 28px;
  }
  .HomePageText h3 {
    font-size: 23px;
  }

  .HomePageText p {
    font-size: 15px;
  }
  .HomePageText {
    margin-top: 100px;
    width: 80%;
  }
}
